<div class="control-main clearfix">
    <div class="control-wheel">
        <div class="wheel">
            <img class="wheel-img wheel-top wheel-left" src="/L2D/Material PNG/Wheel/Top-left.png">
        </div>
        <div class="wheel">
            <img class="wheel-img wheel-left wheel-bottom" src="/L2D/Material PNG/Wheel/Bottom-left.png">
        </div>
    </div>
    <div class="control-area">
        <div class="control-led-y">
            <div class="control-led-area">
                <img class="control-led led-top led-left" src="/L2D/Material PNG/Light/Light blue.png">
            </div>
            <div class="control-led-area">
                <img class="control-led led-top led-right" src="/L2D/Material PNG/Light/Light blue.png">
            </div>
        </div>
        <%- include("control-button.ejs"); %>
        <div class="control-led-y">
            <div class="control-led-area">
                <img class="control-led led-left led-top" src="/L2D/Material PNG/Light/Light red.png">
            </div>
            <div class="control-led-area">
                <img class="control-led led-right led-top" src="/L2D/Material PNG/Light/Light red.png">
            </div>
        </div>
    </div>
    <div class="control-wheel">
        <div class="wheel">
            <img class="wheel-img wheel-top wheelright" src="/L2D/Material PNG/Wheel/Top-right.png">
        </div>
        <div class="wheel">
            <img class="wheel-img wheel-bottom wheel-right" src="/L2D/Material PNG/Wheel/Bottom-right.png">
        </div>
    </div>
</div>