<div id="controlButton" class="control-button">
    <div class="control-row">
        <div class="control-col">
            <button-control index="1"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="2"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="3"></button-control>  
        </div>
    </div>
    <div class="control-row">
        <div class="control-col">
            <button-control index="4"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="5"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="6"></button-control>  
        </div>
    </div>
    <div class="control-row">
        <div class="control-col">
            <button-control index="7"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="8"></button-control>  
        </div>
        <div class="control-col">
            <button-control index="9"></button-control>  
        </div>
    </div>
</div>

<script>
    const store = new Vuex.Store({
        state: {

        },
        actions: {

        },
        mutations: {

        }
    })

    var appControl = new Vue({
        el: "#controlButton",
        store,
        data: {

        },
        methods: {

        },
        created(){

        }
    })
</script>