<div class="my-area">
    <div class="my-item">
        <div class="numpad">
            <div class="numpad-in">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button-control index="1"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="2"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="3"></button-control>                                                    
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button-control index="4"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="5"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="6"></button-control>                                                    
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <button-control index="7"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="8"></button-control>                                                    
                    </div>
                    <div class="p-2">
                        <button-control index="9"></button-control>                                                    
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>