<html>
    <head>
        <%- include("draw/head.ejs"); %>
    </head>
    <body>
        <div>
            <div id="container"></div>
        </div>
        <script src="/draw/app.js"></script>
    </body>
</html>