<html>
    <head>
        <%- include("draw/head.ejs"); %>
        <style>
            body {
                /* background-color: #f0f0f0; */
            }
            #container {
                margin: 40px;
            }
        </style>
    </head>
    <body>
        <div>

            <div id="container"></div>
        </div>
        <script src="/draw/app.js"></script>
    </body>
</html>