<div class="">
    <div class="text-center">
        <img 
            class="mx-auto d-block"
            src="/L2D/Material PNG/Logo/Logo L2D full.png"
            style="width:70%"
        >
    </div>
</div>